Repository naturalsolutions/ecoSecrets: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend, pages

Path conditions:
  build_api_development: any of: api/**/*
  build_api_production: any of: api/**/*, .gitlab-ci.yml
  build_frontend_development: any of: frontend/**/*
  build_frontend_production: any of: frontend/**/*, .gitlab-ci.yml
  test_api: any of: api/**/*
  deploy_api: any of: api/**/*, .gitlab-ci.yml
  deploy_frontend: any of: frontend/**/*, .gitlab-ci.yml
  pages: any of: docs/**/*, .gitlab-ci.yml

fix: update deploiement form by removing illustrative image, updating form display and change select to text input for non functional fields (e.g. bait)
  frontend/src/components/deploymentForm.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: homogeneize headbar fo all pages
  frontend/src/components/DeploymentNewModale.tsx
  frontend/src/components/common/PageHeadBar.tsx
  frontend/src/components/deploymentCreationModale.tsx
  frontend/src/components/deploymentDetails.tsx
  frontend/src/components/deviceSheet/deviceSheetMain.tsx
  frontend/src/components/importForm.tsx
  frontend/src/components/projectSheet/projectSheetMain.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: remove image dropzone for site
  frontend/src/components/siteSheet/siteForm.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: homogeneize headbar for site by removing import icon
  frontend/src/components/siteSheet/siteSheetMain.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: remove non functional fields for project creation modale and clean
  frontend/src/components/projectModale.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: modify taxapi requests
  taxapi/taxrefCtrl.ts
Due: none

fix: adjust display for deployment form
  frontend/src/components/deploymentForm.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: remove some unused files
  frontend/src/App.tsx
  frontend/src/components/deploymentList.tsx
  frontend/src/pages/project.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: change urls for taxapi call
  frontend/src/components/annotation/TaxonomicInput.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: modify non functional fields
  frontend/src/components/deviceMenu/deviceModal.tsx
  frontend/src/components/deviceSheet/deviceForm.tsx
  frontend/src/components/siteMenu/siteModale.tsx
  frontend/src/components/siteSheet/siteForm.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: remove useless files in .gitignore
  .gitignore
Due: none

feat: separate keycloak schema
  db/Dockerfile
  db/init-db.sql
  docker/docker-compose.yml
Due: none

feat: config: tell keycloak its schema
  docker/.env.sample
Due: none

feat: prepare for pulling db image
  .gitlab-ci.yml
  docker/docker-compose.override.yml
  docker/docker-compose.yml
Due: build_api_production, build_frontend_production, deploy_api, deploy_frontend, pages

ci: try to add github-action to build db image
  .github/workflows/build_db.yml
Due: none

fix: label media button
  frontend/src/components/statsHome.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

style: change png by svg
  frontend/public/assets/geocam-logo-dark.png
  frontend/public/assets/geocam-logo-icon.png
  frontend/public/assets/geocam-logo-icon.svg
  frontend/public/assets/geocam-logo-light.png
  frontend/public/index.html
  frontend/src/components/HeadBar.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: update keycloak vars & fix urls
  docker/docker-compose.yml
Due: none

chore: change default traeffik port
  docker/.env.sample
Due: none

chore: add comment to .env.sample
  docker/.env.sample
Due: none

feat: everything inside .env.sample
  docker/.env.sample
Due: none

fix: display of the site form
  frontend/src/components/siteSheet/siteForm.tsx
  frontend/src/components/siteSheet/siteSheetMain.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: correct input type for longitude field
  frontend/src/components/siteSheet/siteForm.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: put success alert at the top of the form
  frontend/src/components/siteSheet/siteForm.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: close success alert when new modification is started
  frontend/src/components/siteSheet/siteForm.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: reinsert label in minio
  docker/docker-compose.yml
Due: none

fix: make taxapi work: add traefik labels
  docker/.env.sample
  docker/docker-compose.yml
Due: none

Mergetodev
  docker/docker-compose.yml
  frontend/src/components/deviceMenu/deviceModal.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

Update README.md
  README.md
Due: none

Fix/tmp fix annotation layout
  frontend/src/components/annotation/AnnotationImageDisplay.tsx
  frontend/src/components/annotation/AnnotationMain.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: update gitignore
  .gitignore
Due: none

fix: annotation buttons display on small sreen
  frontend/src/components/annotation/AnnotationImage.tsx
  frontend/src/components/annotation/AnnotationImageDisplay.tsx
  frontend/src/components/annotation/AnnotationMain.tsx
  frontend/src/components/navigationPath.tsx
  frontend/src/index.tsx
  frontend/src/layouts/mainLayout.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: integer deepfaune in geocam
  api/src/config.py
  api/src/main.py
  api/src/routers/files.py
  deepfaune/.config/Ultralytics/settings.yaml
  deepfaune/celerybeat-schedule
  deepfaune/src/core/config.py
  docker/.env.sample
Due: build_api_development, build_api_production, test_api, deploy_api

fix: Capitalize no site warning message
  frontend/src/components/siteMenu/siteTable.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: remove unused code
  frontend/src/components/annotation/AnnotationImageDisplay.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: annotation buttons display on small sreen (#51)
  frontend/src/components/annotation/AnnotationImage.tsx
  frontend/src/components/annotation/AnnotationImageDisplay.tsx
  frontend/src/components/annotation/AnnotationMain.tsx
  frontend/src/components/navigationPath.tsx
  frontend/src/components/siteMenu/siteTable.tsx
  frontend/src/index.tsx
  frontend/src/layouts/mainLayout.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

Update README.md (#49)
  README.md
Due: none
